body {
  color: white;
  background: #1c1c1c;
  font-family: "Karla", sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  background: #00253a;
  margin: auto;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

h1 {
  font-weight: 800;
  font-size: 40px;
}
.header-white {
  margin-bottom: 0px;
  margin-top: 70px;
}
.header-green {
  color: #F43F5E;
  margin-top: 0px;
}
.subheader {
  font-size: 20px;
  color: #d5d4d8;
  margin-top: 15px;
}

.btn-primary {
  margin-top: 60px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  background: #f64a67;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  color: white;
  padding: 9px 17px 9px 15px;
  border: none;
  margin-bottom: 35px;
}

label {
  font-size: 16px;
  font-weight: 800;
  color: #d5d4d8;;
  margin-right: 35px;
}

select {
  background-color: #0C4A6E;
  color:#F43F5E;
  border-radius: 6px;
  border: 1px solid #2F3E53;
  border: none;
  margin-bottom: 20px;
  text-align: center;
  padding: 10px 0;
  font-weight: bold;
}

select option {
  font-weight: bold;
  /* font-size: 30px; */
}

.main {
  /* margin-top: 115px; */
  margin-left: 50px;
  margin-right: 50px;
  padding-bottom: 35px;
  border-bottom: 1px solid #0C4A6E;
}

.password-container {
  margin: 50px 50px 0px 50px;
}

.pwone {
    display: flex;
    justify-content: space-around;
}
.pwone p {
    background: #0C4A6E;;
    width: 211px;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    color: #f64a67;
    cursor: pointer;
}

.pwone p:hover {
  background: #3b4f6c;
  color: #a5f4c2;
}

#password-two {
    margin-left: 25px;
}